extends interface

block content
  div#game
    div#chat.game-panel
      ul#messages
      form(id='chatbox' action="")
        input(id="m" autocomplete="off" type="text" placeholder="Enter a Message..")
        button#sendmessage Send
    div.stats.game-panel
      div.health health: {{ player.stats.currentHealth }}
    div#game-container

append multiscripts
  // Phaser dependencies
  script(type='text/javascript' src='/js/socket.io.js')
  script(type='text/javascript' src="/javascripts/phaser.min.js")
  script(type='text/javascript' src="/javascripts/boot.js")
  script(type='text/javascript' src="/javascripts/preload.js")
  script(type='text/javascript' src='/javascripts/characterCreate.js')
  script(type='text/javascript' src="/javascripts/map.js")
  script(type='text/javascript' src="/javascripts/game.js")
  // End of Phaser dependencies
  //game styles
  link(rel='stylesheet', href='/stylesheets/game.css')