extends layout

mixin multiscripts
    // Phaser dependencies
    link(type='text/javascript' src="phaser.min.js")
    link(type='text/javascript' src="boot.js")
    link(type='text/javascript' src="load.js")
    // End of Phaser dependencies

    // Bootstrap
    link(href="/css/bootstrap.css" rel="stylesheet" type="text/css")
    // JQuery
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    // End of bootstrap dependencies

    // AngularJS
    script(src="/js/angular.js")
    // End of AngularJS

    //Ignite stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
    //Retrieves player data
    script(type='text/javascript' src='/javascripts/playerData.js')

block header
    nav
        ul(class='nav nav-pills pull-right')
            li(role='presentation')
                a(href='/') Home

            li(role='presentation')
                a(href='/about') About
        h1
            a(href='https://Cynicalbird.github.io/')#nav-title Ignite
        p#nav-message #{message}