doctype html
html
    head
        title= title
        +multiscripts
    body(ng-app='ignite')
        block header
        div(class='container' ng-controller='ignite-controller')
            block content