doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(type='text/javascript' src="phaser.min.js")

    // Bootstrap
    link(href="/css/bootstrap.css" rel="stylesheet" type="text/css")
    // JQuery
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    // End of bootstrap dependencies
    // AngularJS
    script(src="/js/angular.js")
    // End of AngularJS
  body
    block content
