doctype html
html
    head
        title= "Ignite - "+title
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        +multiscripts
    body(ng-app='ignite')
        +header
        div(class='container' ng-controller='ignite-controller')
            block content