doctype html
html
    head
        title= "Ignite - "+title
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block multiscripts
    body(ng-app='ignite')
        block navigation
        div(class='container' ng-controller='ignite-controller' ignite-main)
            div.row
                div.container#container-logo
                    img(id='ignite-logo' alt='ignit-logo' src='/images/logo/ignite.png')
            div.row
                block content
                    block errors