extends interface

block content
    div.card
        div.container
            div.row
                +title('Log in')
            div.row
                +form(
                [
                    {
                        label: 'Username',
                        input: {
                            placeholder:'Username',
                            name: 'username'
                        }
                    },
                    {
                        label: 'Password',
                        input: {
                            placeholder:'Password',
                            name: 'password'
                        }
                    }
                ],'/accounts/login')

