<div class="card" style='margin: auto;')>
    <div class="container">
        <div class="row">
            <h2>Login</h2>
            <form id="login" action="">
                <input type='text' class='form-control' placeholder='Username', name='username'>
                <input type='text' class='form-control' placeholder='Password', name='password'>
                <button id='submit_login', type='submit', class='btn btn-sm'>Login</button>
            </form>
        </div>
        <div class="row">
            <h2>Play as guest</h2>
            <form id="guest" action="">
                <input type="text" class='form-control' placeholder='Guest nickname', name='username'>
                <button>Play as guest</button>
            </form>
        </div>
    </div>
</div>