<div class="card" style='margin: auto;')>
    <div class="container">
        <div class="row">
            <h1>Login</h1>
        </div>
        <div class="row">
            <form id="login" action="">
                <input type='text' class='form-control' placeholder='username', name='username'>
                <input type='text' class='form-control' placeholder='password', name='password'>
                <button id='submit_login', type='submit', class='btn btn-sm'>Login</button>
            </form>
        </div>
        <div class="row">
            <h1>Play as guest</h1>
        </div>
        <div class="row">
            <form id="guest" action="">
                <input type="text" class='form-control' placeholder='guest', name='username'>
                <button>Play as guest</button>
            </form>
        </div>
    </div>
</div>